<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Forget Me Pot</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" type="image/x-icon" href="/images/logo.ico">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
            @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');        </style>
    </head>
    <body>
        <header>
            <div>
                <h1><a href="/#">Forget Me Pot</a></h1>
            </div>

            <div class="nav-container">
                <nav>
                    <ul>
                        <li><a href="/projects">projects</a></li>
                        <li><a href="/#contact">contact</a></li>
                        <li><a href="/cart"><i class="ph ph-shopping-cart"></i></a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <section class="hero">
            <video autoplay muted loop playsinline>
                <source src="/backgroundvideo.mp4" type="video/mp4">
            </video>

            <div class="hero-overlay">
                <div class="hero-content">
                    <h2>Forget Me Pot</h2>
                    <p>Automated care for living spaces</p>
                    <img src="/images/logo.png" alt="">
                </div>
            </div>
        </section>


        <main>